body{
    margin: 0;
    padding: 0;
}

span.line {
    display: inline-block;
}

.intro {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    min-height: 650px;
    height: 67vh;
    background-image: linear-gradient(135deg,#231437 0%,#2c385e 50%,#336e6b 100%);
    position: relative;
    
}

.container {
    width: 100%;
    height: 52vh;
    position: absolute;
    opacity: .3;
    min-height: 484px;
    color: #FFF;
    text-align: center;
    background: url('../img/drink2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.top-text {
    margin: 24px 0px 0px 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -32%);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top-text #heading {
    margin: 24px 0 24px 0;
    color: white;
    font-weight: 500;
    font-size: 2.8em;
}

.top-text #description {
    margin: 24px 0 24px 0;
    font-weight: 300;
}

.top-text #addon {
    font-weight: 200;
}

.free-trial {
    margin: 0 auto;
    text-align: center;
    padding: 16px;
    min-width: 275px;
    max-width: 280px;
    background-color: white;
    border-radius: 8px;
}

.free-trial #free-trial-text {
    margin: auto;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}

.top-text #disclaimer{
    margin: 24px 160px;
    margin: 0;
    color: white;
    font-weight: 200;
    font-size: .72em;
}

.top {
    opacity: 1;
    position: fixed;
    width: 100%;

}

.top-bar {
    padding: 15px 8px;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: space-between;
    transition: ease-in 1s all;
}

.top-bar #brewlu-logo {
    margin: 14px 48px;
    opacity: 1;
    font-family: 'Comfortaa', sans-serif;
    align-items: flex-start;
    font-weight: 700;
    font-size: 1.7em;
    letter-spacing: .5px;
    color: white;
    text-decoration: none white;
    order: 1;
    flex-shrink: 0;
}

.top-bar #login {
    order: 2;
    margin: 24px 72px;
    min-width: 0;
    white-space: nowrap;
    opacity: 1;
    font-family: 'Comfortaa', sans-serif;
    align-items: flex-end;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: .5px;
    color: white;
    text-decoration: none white;
    flex-shrink: 0;
}

.bundle-ribbon {
    transform: translate(0%, 496px);
}

.logos {
    margin: 0px 20px;
    order: 1;
    max-height: 200px;
    display: grid;
    grid-template-columns: 8% 8% 8% 0% 50% 0% 10%;
    grid-template-rows: 44px 44px 44px;
    text-align: left;
    gap: 0 2%;
}

.logos #brewlu {
    margin: auto 0;
    grid-row: 2 / 3;
    color: white;
    width: 90%;
    max-width: 90%;
    font-size: 2.1vw;
}

.logos #peets {
    margin: auto 0;
    grid-row: 1 / 3;
    width: 90%;
}

.logos #costa {
    margin: auto 0;
    grid-row: 1 / 3;
    width: 90%;
}

.logos #bundle-header {
    margin: -10px 0;
    grid-row: 1;
    grid-column: 5;
    color: aquamarine;
    font-weight: 800;
}

.logos #bundle-description {
    margin: -28px 0;
    color: white;
    grid-row: 2;
    grid-column: 5;
    font-size: 1.65vw;
}

.logos #bundle-details {
    margin: -24px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    grid-row: 3;
    grid-column: 5;
    color: white;
}

.logos #bundle-button {
    margin: 0;
    padding: 12px 8px;
    grid-row: 1/ 2;
    grid-column: 7;
    min-width: 88px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: solid white 3px;
}

.logos #bundle-terms {
    color: white;
    font-size: 1em;
    grid-row: 2;
    grid-column: 7;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.logos #short-description {
    color:transparent;
    grid-row: 3;
    grid-column: 1 / 6;
}

.logos #short-details {
    color: transparent;
    font-size: 0;
}


section.picture-grid {
    padding: 12px 0;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
}

.picture-grid .left {
    grid-row: 1 / 7;
    grid-column: 1;
    background: url('../img/coffee3.jpg') no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
}

.picture-grid .middle-top {
    grid-row: 1 / 4;
    grid-column: 2;
    background: url('../img/tea4.jpg') no-repeat;
    opacity: 1;
    background-size: cover;
    background-position: center;
}

.picture-grid .middle-bottom {
    grid-row: 4 / 7;
    grid-column: 2;
    background: url('../img/tea7.jpg') no-repeat;
    background-size: cover;
}

.picture-grid .right-top {
    grid-row: 1 / 3;
    grid-column: 3;
    background: url('../img/coffee2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.picture-grid .right-middle {
    grid-row: 3 / 5;
    grid-column: 3;
    background: url('../img/tea5.jpg') no-repeat;
    background-size: cover;
}

.picture-grid .right-bottom {
    grid-row: 5 / 7;
    grid-column: 3;
    background: url('../img/tea6.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 920px) {
    .intro {
        min-height: 600px;
        
    }

    .container {
        min-height: 440px;
        overflow: hidden;
    }
    .top-text #heading {
        font-size: 2.4em;
    }

    .top-text #description {
        margin: 10px 44px;
        font-size: 1.2em;
    }

    .top-text #addon {
        font-size: 0;
    }

    .top-text #disclaimer {
        margin: 4px 54px;
    }

    .bundle-ribbon {
        transform: translate(0, 452px);
    }

    .logos {
        max-height: 200px;
        grid-template-columns: 72px 72px 72px auto;
        grid-template-rows: 16px 28px 28px;
        gap: 12px 4px;
    }

    .logos #brewlu{
        margin: 14px 0;
        grid-row: 2;
        font-size: 1em;
        text-align: center;
    }

    .logos #peets {
        grid-row: 2;
    }

    .logos #costa {
        grid-row: 2;
    }

    .logos #bundle-header {
        grid-row: 1;
        grid-column: 1 / 5;
        white-space: nowrap;    
    }

    .logos #bundle-description {
        font-size: 0;
    }

    .logos #bundle-details {
        margin: 0;
        font-size: 0;
    }

    .logos #bundle-terms {
        grid-row: 3;
        margin: 0 auto;
    }

    .logos #short-description {
        margin: 11px 0;
        max-width: auto;
        color: white;
    }

    .logos #short-details {
        font-size: 1em;
        color: white;
        text-decoration: underline;
    }

    .logos #bundle-button {
        margin: 0 auto;
        max-width: 120px;
        grid-row: 1 / 2;
        grid-column: 7;
        padding: 20px 0px 36px;
        text-align: center;
    }
}