body{
    background-color: rgb(224, 224, 224);
    margin: 0;
    padding: 0;
}

span.line {
    display: inline-block;
}

.intro {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    min-height: 650px;
    height: 67vh;
    background-image: linear-gradient(135deg,#231437 0%,#2c385e 50%,#336e6b 100%);
    position: relative;
    
}

.container {
    width: 100%;
    height: 486px;
    position: absolute;
    opacity: .3;
    min-height: 484px;
    color: #FFF;
    text-align: center;
    background: url('../img/drink2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.top-text {
    margin: 24px 0px 0px 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -32%);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top-text #heading {
    margin: 24px 0 24px 0;
    color: white;
    font-weight: 500;
    font-size: 2.8em;
}

.top-text #description {
    margin: 24px 0 24px 0;
    font-weight: 300;
}

.top-text #addon {
    font-weight: 200;
}

.free-trial {
    margin: 0 auto;
    text-align: center;
    padding: 16px;
    min-width: 275px;
    max-width: 280px;
    background-color: white;
    border-radius: 8px;
}

.free-trial #free-trial-text {
    margin: auto;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}

.top-text #disclaimer{
    margin: 24px 160px;
    margin: 0;
    color: white;
    font-weight: 200;
    font-size: .72em;
}

.top {
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.top-bar {
    padding: 15px 8px;
    min-width: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: space-between;
    transition: ease-in .5s all;
}

.top-bar #brewlulogo {
    margin: 14px 48px;
    opacity: 1;
    font-family: 'Comfortaa', sans-serif;
    align-items: flex-start;
    font-weight: 700;
    font-size: 1.7em;
    letter-spacing: .5px;
    color: white;
    text-decoration: none white;
    order: 1;
    flex-shrink: 0;
    transition: ease-in .5s all;
}

.top-bar #login {
    order: 2;
    margin: 24px 72px;
    min-width: 0;
    white-space: nowrap;
    opacity: 1;
    font-family: 'Comfortaa', sans-serif;
    align-items: flex-end;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: .5px;
    color: white;
    text-decoration: none white;
    flex-shrink: 0;
    transition: ease-in .5s all;
}

.bundle-ribbon {
    transform: translate(0%, 496px);
}

.logos {
    margin: 0px 20px;
    order: 1;
    max-height: 200px;
    display: grid;
    grid-template-columns: 8% 8% 8% 0% 50% 0% 10%;
    grid-template-rows: 44px 44px 44px;
    text-align: left;
    gap: 0 2%;
}

.logos #brewlu {
    margin: auto 0;
    grid-row: 2 / 3;
    color: white;
    width: 90%;
    max-width: 90%;
    font-size: 2.1vw;
}

.logos #peets {
    margin: auto 0;
    grid-row: 1 / 3;
    width: 90%;
}

.logos #costa {
    margin: auto 0;
    grid-row: 1 / 3;
    width: 90%;
}

.logos #bundle-header {
    margin: -10px 0;
    grid-row: 1;
    grid-column: 5;
    color: aquamarine;
    font-weight: 800;
}

.logos #bundle-description {
    margin: -28px 0;
    color: white;
    grid-row: 2;
    grid-column: 5;
    font-size: 1.65vw;
}

.logos #bundle-details {
    margin: 0px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    grid-row: 3;
    grid-column: 5;
    color: white;
}

.logos #bundle-button {
    margin: 0;
    padding: 12px 8px;
    grid-row: 1/ 2;
    grid-column: 7;
    min-width: 88px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: solid white 3px;
}

.logos #bundle-terms {
    color: white;
    font-size: 1em;
    grid-row: 2;
    grid-column: 7;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.logos #short-description {
    color:transparent;
    grid-row: 3;
    grid-column: 1 / 6;
}

.logos #short-details {
    color: transparent;
    font-size: 0;
}


section.picture-grid {
    padding: 12px 0;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.picture-grid .left {
    padding: 16px;
    grid-row: 1 / 7;
    grid-column: 1;
    background: url('../img/coffee3.jpg') no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
    color: white;
    position: relative;
    
}

.left #caption {
    position: absolute;
    bottom: 44%;
    left: 4%
}

.picture-grid .middle-top {
    padding: 12px;
    grid-row: 1 / 4;
    grid-column: 2;
    background: url('../img/tea4.jpg') no-repeat;
    opacity: 1;
    background-size: cover;
    background-position: bottom;
    position: relative;
    color: white;
}

.middle-top #title {
    position: absolute;
    top: 49%;
    left: 3%;
}

.middle-top #caption {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 8%;
    bottom: 17%;
}

.picture-grid .middle-bottom {
    padding: 12px;
    color: white;
    grid-row: 4 / 7;
    grid-column: 2;
    background: url('../img/tea7.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

.middle-bottom #caption {
    position: absolute;
    bottom: 15%;
    left: 12%;
}

.picture-grid .right-top {
    padding: 0 12px;
    color: white;
    grid-row: 1 / 3;
    grid-column: 3;
    background: url('../img/coffee2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.right-top #caption {
    position: absolute;
    bottom: -8%;
    right: 1%;
}

.picture-grid .right-middle {
    padding: 4px 2px;
    color: white;
    grid-row: 3 / 5;
    grid-column: 3;
    background: url('../img/tea5.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

.right-middle #caption {
    position: absolute;
    bottom: 25%;
    right: 5%;
}

.picture-grid .right-bottom {
    padding: 12px;
    color: white;
    grid-row: 5 / 7;
    grid-column: 3;
    background: url('../img/tea6.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.right-bottom #caption {
    position: absolute;
    bottom: 9%;
    left: 5%;
}

section.plans {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin: 0 auto;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 24px;
    text-align: center;
    color: rgb(63, 63, 63);
    transition: ease-in 1s all;
}


section.plans #select {
    margin: 0;
    grid-row: 1;
    grid-column: 1 / 3;
}

section.plans #description {
    margin: -48px 0 0;
    grid-row: 2;
    grid-column: 1 / 3;
}

section.plans .low-tier {
    background-color: white;
    margin: 0 0;
    grid-column: 1;
    grid-row: 3;
    box-shadow: 2px 2px 2px rgb(214, 214, 214), -2px 2px 2px rgb(214, 214, 214);
    border-radius: 4px;
    transition: ease-out .5s all;
    overflow: hidden;
    max-height: 584px;
}

.low-tier:hover {
    padding: 12px 0 0;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgb(11, 87, 11), rgb(52, 207, 52)) 1 10%;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    transition: ease-in .5s all;
}

section.plans .low-tier #brewlu {
    margin: 12px 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}

section.plans .low-tier #description {
    margin: 0;
}

.price {
    margin: -18px 0 0;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    font-size: 2em;
}

section.plans .low-tier .low-tier-button #text {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 16px 48px 14px;
    border-radius: 12px;
}

.low-tier .checkmarks {
    margin: 24px 0;
    padding: 0 24px;
    background-color: rgb(241, 241, 241);
    display: grid;
    font-size: .8em;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto auto;
    text-align: left;
    gap: 0;
}

.checkmarks #check1 {
    color: rgb(54, 99, 54);
    grid-row: 1;
    grid-column: 1;
}

.checkmarks #check2 {

    color: rgb(54, 99, 54);
    grid-row: 2;
    grid-column: 1;
}

.checkmarks #check3 {
    color: rgb(54, 99, 54);
    grid-row: 3;
    grid-column: 1;
}

.checkmarks #check4 {
    color: rgb(54, 99, 54);
    grid-row: 4;
    grid-column: 1;
}

.checkmarks #check5 {
    color: rgb(54, 99, 54);
    grid-row: 5;
    grid-column: 1;
}

.checkmarks #pro1 {
    margin: 0;
    color: #3b3b3b;
    grid-row: 1;
    grid-column: 2;
}

.checkmarks #pro2 {
    margin: 0;
    color: #3b3b3b;
    grid-row: 2;
    grid-column: 2;
}

.checkmarks #pro3 {
    margin: 0;
    color: #3b3b3b;
    grid-row: 3;
    grid-column: 2;
}

.checkmarks #pro4 {
    margin: 0;
    color: #3b3b3b;
    grid-row: 4;
    grid-column: 2;
}

.checkmarks #pro5 {
    margin: 0;
    color: #3b3b3b;
    grid-row: 5;
    grid-column: 2;
}

section.plans .high-tier {
    background-color: white;
    margin: 0 0;
    grid-column: 2;
    grid-row: 3;
    box-shadow: 2px 2px 2px rgb(214, 214, 214), -2px 2px 2px rgb(214, 214, 214);
    border-radius: 4px;
    transition: ease-out .5s all;
    overflow: hidden;
    max-height: 1020px;
}

.high-tier:hover {
    padding: 12px 0 0;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgb(8, 37, 99), rgb(88, 129, 219)) 1 10%;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    transition: ease-in .5s all;
}

section.plans .high-tier #brewlu {
    margin: 12px 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}

section.plans .high-tier #description {
    margin: 0 24px -50px;
}

section.plans .high-tier #price {
    margin: 0px 0;
}

section.plans .high-tier .high-tier-button #text {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 16px 48px 14px;
    border-radius: 12px;
}

.high-tier .checkmarks {
    margin: 24px 0;
    padding: 0 24px;
    background-color: rgb(241, 241, 241);
    font-size: .8em;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto auto auto auto;
    text-align: left;
    gap: 4px;
}

section.free-trial {
    margin: 0 auto;
    padding: 48px 0 80px;
    min-width: 70%;
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    background-color: transparent;
}

section.free-trial .description {
    grid-row: 1;
    grid-column: 1;
    max-width: 100%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section.free-trial .description #text {
    color: rgb(31, 31, 31);
}

section.free-trial .description #button {
    color: white;
    background-color: black;
    font-family: 'Comfortaa', sans-serif;
    border-radius: 12px;
    text-decoration: none;
    padding: 16px 36px 16px;
}

section.free-trial .photo {
    width: 50%;
    grid-row: 1;
    grid-column: 2;
    position: relative;
}

section.free-trial .photo #photo1 {
    position: absolute;
    height: 200px;
    left: 300px;
    top: 0;
    border-radius: 12px;
    z-index:1;
    box-shadow: 2px 2px 8px gray, -2px 2px 8px gray;
}

section.free-trial .photo #photo2 {
    position: absolute;
    height: 200px;
    left: 0;
    top: 40px;
    border-radius: 20px;
    z-index: 0;
    box-shadow: 2px 2px 8px gray, -2px 2px 8px gray;
}

footer {
    margin: 80px 8% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 36px 36px 36px 36px 36px 36px 60px 1fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer #bold {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

footer #clickable {
    color: rgb(26, 26, 26);
    text-decoration: none;
}

footer #spacer {
    width: 100%;
    grid-row: 8;
    grid-column: 1 / 7;
    border-bottom: 1px rgb(214, 214, 214) solid;
}

.footer-ribbon {
    grid-row: 9;
    grid-column: 1 / 7;
    display: flex;
    flex-basis: 110%;
    justify-content: space-evenly;
    align-items: center;
    font-size: .8em;
    white-space: nowrap;
}

footer.footer-ribbon #a {
    font-size: 1em;
}

@media only screen and (max-width: 920px) {
    .intro {
        min-height: 640px;
        
    }

    .container {
        min-height: 440px;
        overflow: hidden;
    }
    .top-text #heading {
        font-size: 2.4em;
    }

    .top-text #description {
        margin: 10px 44px;
        font-size: 1.2em;
    }

    .top-text #addon {
        font-size: 0;
    }

    .top-text #disclaimer {
        margin: 4px 54px;
    }

    .bundle-ribbon {
        transform: translate(0, 500px);
    }

    .logos {
        max-height: 200px;
        grid-template-columns: 72px 72px 72px auto;
        grid-template-rows: 16px 28px 28px;
        gap: 12px 4px;
    }

    .logos #brewlu{
        margin: 14px 0;
        grid-row: 2;
        font-size: 1em;
        text-align: center;
    }

    .logos #peets {
        grid-row: 2;
    }

    .logos #costa {
        grid-row: 2;
    }

    .logos #bundle-header {
        grid-row: 1;
        grid-column: 1 / 5;
        white-space: nowrap;    
    }

    .logos #bundle-description {
        font-size: 0;
    }

    .logos #bundle-details {
        margin: 0;
        font-size: 0;
    }

    .logos #bundle-terms {
        grid-row: 3;
        margin: 0 auto;
    }

    .logos #short-description {
        margin: 11px 0;
        max-width: auto;
        color: white;
    }

    .logos #short-details {
        font-size: 1em;
        color: white;
        text-decoration: underline;
    }

    .logos #bundle-button {
        margin: 0 auto;
        max-width: 120px;
        grid-row: 1 / 2;
        grid-column: 7;
        padding: 20px 0px 36px;
        text-align: center;
    }

    section.picture-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-size: 0;
    }

    .picture-grid .left {
        grid-row: 1;
        grid-column: 1;
        max-height: 350px;
    }

    section.picture-grid .left #caption {
        left: 4px;
        bottom: 15px;
    }

    section.picture-grid .middle-top {
        grid-row: 1;
        grid-column: 2;
    }

    section.picture-grid .middle-bottom {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    section.picture-grid .right-bottom {
        grid-row: 3;
        grid-column: 1;
    }

    section.picture-grid .right-middle {
        grid-row: 3;
        grid-column: 2;
    }

    section.picture-grid .right-top {
        grid-row: 4;
        grid-column: 1 / 3;
    }

    section.plans {
        margin: 0 auto;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
    }

    section.plans #title {
        grid-column: 1;
    }

    section.plans #description {
        grid-column: 1;
    }

    section.plans .low-tier {
        margin: 0 auto;
        max-height: 634px;
        grid-row: 3;
    }

    section.plans .high-tier {
        max-height: 1066px;
        grid-row: 4;
        grid-column: 1;
    }

    section.free-trial {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        text-align: center;
    }

    section.free-trial .photo {
        padding: 40px 0;
        grid-row: 2;
        grid-column: 1;
    }

    section.free-trial .photo #photo1 {
        height: 160px;
        transform: translate( -70%, 20%);
    }

    section.free-trial .photo #photo2 {
        height: 150px;
        transform: translate( 0, 20%);
    }

    footer {
        grid-template-rows: auto auto auto auto auto auto auto;
        font-size: .8em;
    }


    footer #clickable {
        font-size: .7em;
    }

    .footer-ribbon {
        flex-wrap: wrap;
    }
}